# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage

# OS
.DS_Store
Thumbs.db

#==================
# BACKEND/PYTHON
#==================
backend/.venv/
backend/venv/

__pycache__/
*.py[cod]
*.pyo

backend/.env

.pytest_cache
.coverage
htmlcov/


# =========================
# Frontend / Node
# =========================

frontend/node_modules/
frontend/dist/

frontend/.env
frontend/.env.local
frontend/.env.production


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db